@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    overflow-y: scroll;
    background: grey;
}

ol, ul {
    list-style-position: inside;
}

.section {
    display: flex;
    max-width: 1050px;
    margin: 0 auto;
}

/*sides*/
.left-side-info {
    background: red;
    width: 35%;
}

.main-info {
    width: 65%;
    background: white;
}
/*avatar*/
img {
    width: 100%;
}

/*text*/
.left-side-info {
    color: white;
}

.group-title {
    font-size: 22px;
}

h1 {
    font-size: 60px;
    color: red;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    margin: 10px 20px;
}

h3 {
    font-size: 24px;
    margin: 20px 0px;
    font-family: 'Roboto', sans-serif;
}

p, li {
    font-size: 18px;
    margin: 5px 0px;
}
h2, p, li {
    font-family: 'Questrial', sans-serif;
}

/*blocks*/
.education-block {
    color: red;
}

.regular-block, .projects-block, .education-block {
    margin: 10px 20px;
}

.regular-block p, .education-block p {
    max-width: 300px;
}

.projects-block {
    max-width: 600px;
    min-width: 300px;
}

.block-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.technologies {
    margin-top: 20px;
}

.education-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Розбиває контейнер на дві рівні колонки */
    grid-gap: 20px;
}
/*line*/
hr {
    margin: 0px 20px;
    padding: 2px;
    border: 0px;
    background: red;
}